h1 {
    color: red;
}

li {
    position: relative;
}

.worm {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: black;
}

.player-worm {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: pink;
}